<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация пользователя</title>
  <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>

  <form action="#" th:action="@{/auth/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}">
    <div class="form-group">
        <label for="password">Новый пароль:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
</form>


</body>
</html>