<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список вещей в комнате</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2>Список вещей в комнате</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Категория</th>
      <th>Название</th>
      <th>Цена</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="thingsRoom : ${thingsRooms}">
      <td th:text="${thingsRoom.category}"></td>
      <td th:text="${thingsRoom.title}"></td>
      <td th:text="${thingsRoom.price}"></td>
      <td>
        <a th:href="@{'/things/edit/' + ${thingsRoom.id}}" class="btn btn-warning btn-sm">Редактировать</a>
        <a th:href="@{'/things/delete/' + ${thingsRoom.id}}" class="btn btn-danger btn-sm">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{'/things/add'}" class="btn btn-success">Добавить вещь</a>
</div>
</body>
</html>
