<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавление/Редактирование комнаты</title>
</head>
<body>
<div class="container mt-5">
  <h2>Добавление/Редактирование комнаты</h2>
  <form th:action="@{/rooms/edit}" th:object="${room}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
      <label for="roomNumber">Номер комнаты:</label>
      <input type="text" class="form-control" id="roomNumber" th:field="*{roomNumber}" required>
    </div>
    <!-- Добавьте остальные поля комнаты, например, цену за питание и цену за проживание -->
    <div class="form-group">
      <label for="mealPrice">Цена за питание:</label>
      <input type="text" class="form-control" id="mealPrice" th:field="*{mealPrice}" required>
    </div>
    <div class="form-group">
      <label for="price">Цена за проживание:</label>
      <input type="text" class="form-control" id="price" th:field="*{price}" required>
    </div>
    <!-- Поле для выбора отеля, к которому относится комната -->
    <div class="form-group">
      <label for="hotel">Отель:</label>
      <select class="form-control" id="hotel" th:field="*{hotel.id}" required>
        <option th:each="hotel : ${hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
      </select>
    </div>
    <!-- Поля для загрузки фотографий комнаты -->
    <!-- Не забудьте добавить атрибут multiple, если вы хотите загрузить несколько фотографий одновременно -->
    <div class="form-group">
      <label>Фотографии комнаты:</label>
      <input type="file" class="form-control-file" name="photos" multiple>
    </div>
    <button type="submit" class="btn btn-primary">С
