<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>New Employee</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Турфирма Paradise</a>
  <button onclick="window.location.href='/hotels/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Отели
  </button>

  <button onclick="window.location.href='/flights/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Авибилеты
  </button>

  <button onclick="window.location.href='/tours/new'" type="button" class="btn btn-link" data-dismiss="modal">
    Туры
  </button>

  <button onclick="window.location.href='/bookings/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Реестр бронирования    </button>

  <button onclick="window.location.href='/users/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Клиенты
  </button>

  <button onclick="window.location.href='/employees/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Работники
  </button>








  <!-- Кнопка "Обратная связь" -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#feedbackModal">
    Обратная связь
  </button>

  <!-- Модальное окно "Обратная связь" -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Обратная связь</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Форма обратной связи -->
          <form>
            <div class="form-group">
              <label for="feedbackName">Ваше имя</label>
              <input type="text" class="form-control" id="feedbackName" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
              <label for="feedbackEmail">Ваш Email</label>
              <input type="email" class="form-control" id="feedbackEmail" placeholder="Введите ваш Email">
            </div>
            <div class="form-group">
              <label for="feedbackMessage">Сообщение</label>
              <textarea class="form-control" id="feedbackMessage" rows="4" placeholder="Введите ваше сообщение"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#registrationModal" data-toggle="modal">Регистрация</a>
      </li>
      <!-- Logout button -->
      <li class="nav-item">
        <a class="nav-link" href="/logout">Вход</a>
      </li>
    </ul>
  </div>
</nav>
<h2>New Employee</h2>
<form th:action="@{'/employees/new'}" th:object="${employee}" method="post" enctype="multipart/form-data">
  <label>Name: <input type="text" th:field="*{name}"/></label><br/>
  <label>Last Name: <input type="text" th:field="*{lastName}"/></label><br/>
  <label>Position: <input type="text" th:field="*{position}"/></label><br/>
  <label>Salary: <input type="text" th:field="*{salary}"/></label><br/>
  <label>Hire Date: <input type="date" th:field="*{hireDate}" /></label><br/>
  <label>Email: <input type="text" th:field="*{email}"/></label><br/>
  <label>Phone: <input type="text" th:field="*{phone}"/></label><br/>

  <input type="file" name="file"/>
  <input type="submit" value="Save"/>
</form>
<br/>
<a th:href="@{'/employees'}">Cancel</a>
</body>
</html>
