<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Список отелей</title>
  <!-- Подключаем Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/public/hotel.css}" rel="stylesheet" />
  <style>
    body {
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
    }
  </style>
  <style>
  .photo-carousel {
    position: absolute;

    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .photo-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
  }

  .arrow.left {
    left: 0;
  }

  .arrow.right {
    right: 0;
  }
</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Турфирма Paradise</a>
  <button onclick="window.location.href='/hotels/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Отели
  </button>

  <button onclick="window.location.href='/flights/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Авиабилета
  </button>

  <button onclick="window.location.href='/'" type="button" class="btn btn-link" data-dismiss="modal">
    Туры
  </button>

  <button onclick="window.location.href='/bookings/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Реестр бронирования
  </button>

  <button onclick="window.location.href='/users/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Клиенты
  </button>

  <button onclick="window.location.href='/employees/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Работники
  </button>









  <!-- Кнопка "Обратная связь" -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#feedbackModal">
    Обратная связь
  </button>

  <!-- Модальное окно "Обратная связь" -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Обратная связь</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Форма обратной связи -->
          <!-- Форма обратной связи -->
          <form th:action="@{/send-email}" method="post">
            <div class="form-group">
              <label for="feedbackName">Ваше имя</label>
              <input type="text" class="form-control" id="feedbackName" name="name" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
              <label for="feedbackEmail">Ваш Email</label>
              <input type="email" class="form-control" id="feedbackEmail" name="email" placeholder="Введите ваш Email">
            </div>
            <div class="form-group">
              <label for="feedbackMessage">Сообщение</label>
              <textarea class="form-control" id="feedbackMessage" name="message" rows="4" placeholder="Введите ваше сообщение"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>

        </div>
      </div>
    </div>
  </div>





  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Conditionally render user information or registration/login buttons -->
      <li class="nav-item" th:if="${loggedIn}">
        <span class="nav-link" th:text="${authentication.name}"></span>
      </li>
      <li class="nav-item" th:unless="${loggedIn}">
        <a class="nav-link" onclick="window.location.href='/register'"   data-toggle="modal">Регистрация</a>
      </li>
      <!-- Logout button -->
      <li class="nav-item" th:if="${loggedIn}">
        <a class="nav-link" href="/logout">Выход</a>
      </li>
      <li class="nav-item" th:unless="${loggedIn}">
        <a class="nav-link" href="/login">Вход</a>
      </li>
    </ul>
  </div>


</nav>
<div class="container">
  <h2>Список отелей</h2>


  <div id="search-form-container" style="float: left;">
    <div class="sfl-container sfl-layout-default sfl-theme-16886-xroomhotel" data-version="1.5">
      <div class="sf-wrapper">

        <div class="sf-controls-wrapper">
          <!-- Hotel Select -->

          <!-- Arrival Date -->
          <div class="sf-field-container sf-arrival-date-container">
            <div class="sf-field-label sf-arrival-date-label">Заезд</div>
            <input type="date" id="arrivalDate">
          </div>


          <!-- Departure Date -->
          <div class="sf-field-container sf-departure-date-container">
            <div class="sf-field-label sf-departure-date-label">Выезд</div>
            <input type="date" id="arrivalDate2">
          </div>


          <div class="guests-input-container">
            <input type="text" class="sfl-guests-input" readonly="" inputmode="none" id="guestsInput" pattern="[0-9]*" value="Нужно на 2">
            <button onclick="decrementAdults()">-</button>
            <button onclick="incrementAdults()">+</button>
          </div>

          <script>
  var adultsCount = 2; // начальное количество взрослых

  function updateGuestsInput() {
    var guestsInput = document.getElementById('guestsInput');
    guestsInput.value = 'Нужно на ' + adultsCount;
  }

  function incrementAdults() {
    if (adultsCount < 4) { // проверка максимального значения
      adultsCount++;
      updateGuestsInput();
    }
  }

  function decrementAdults() {
    if (adultsCount > 0) {
      adultsCount--;
      updateGuestsInput();
    }
  }
</script>



          <!-- Nights -->
<!--          <div class="sf-field-container sf-Number-of-guests-container">-->
<!--            <div class="sf-field-label sf-Number-of-guests-label">Количество гостей</div>-->
<!--            <select class="sfl-nights">-->
<!--              &lt;!&ndash; Options for nights &ndash;&gt;-->
<!--              <option value="1">1 ночь</option>-->
<!--              <option value="2">2 ночи</option>-->
<!--              <option value="3">3 ночи</option>-->
<!--            </select>-->
<!--          </div>-->


          <!-- Submit Buttons -->
          <div class="sf-submit-button-container sf-submit-button-input-container">
            <input type="button" class="sfl-submit-button sfl-submit-button-input standard-view-button" value="Найти номер">
            <input type="button" class="sfl-submit-button sfl-submit-button-input compact-view-button" value="Забронировать">
          </div>

          <div class="sf-backlink-container">
            <div><a href="https://www.travelline.ru/products/tl-hotel/" rel="nofollow" aria-label="система онлайн-бронирования" target="_blank">TravelLine: Platform</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th  th:if="${roles.contains('ROLE_ADMIN')}" >ID</th>
      <th>Название</th>
      <th></th>
<!--      <th>Адрес</th>-->
      <th></th>
<!--      <th>Действия</th>-->
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotels}">


      <td  th:if="${roles.contains('ROLE_ADMIN')}" th:text="${hotel.id}"></td>
      <td th:text="${hotel.name}"></td>
      <td >
        <p><span  th:text="${hotel.region + ', ' + hotel.city + ', ' + hotel.street + ', ' + hotel.house}"></span> </p>
        <!-- Добавьте блок для отображения количества комментариев -->
        <div  th:if="${not #lists.isEmpty(hotel.comments)}">
          <p><span th:text="${#lists.size(hotel.comments)}"></span> отзывов</p>


          <p th:if="${hotel.averageCommentEvaluation > 0.0}">
            Средняя оценка <span th:text="${hotel.averageCommentEvaluation}"></span>
          </p>
          <p th:if="${hotel.averageCommentEvaluation <= 0.0}">
            <span>Нет оценок.</span>
          </p>

        </div>
      </td>
<!--      <td th:text="${hotel.address}"></td>-->
<!--      <td th:text="${hotel.availableRooms}"></td>-->

      <td>
        <a th:href="@{'/hotels/details/' + ${hotel.id}}" class="btn btn-info btn-sm">Подробнее</a>

        <a th:href="@{'/hotels/edit/' + ${hotel.id}}" class="btn btn-warning btn-sm"
           th:if="${roles.contains('ROLE_ADMIN')}">Редактировать</a>

        <a th:href="@{'/hotels/delete/' + ${hotel.id}}" class="btn btn-danger btn-sm"
           th:if="${roles.contains('ROLE_ADMIN')}">Удалить</a>











      </td>


      <td>
        <div id="photoCarousel" class="photo-carousel">
          <div class="photo-container">
            <div th:each="photo : ${hotel.photos}" th:data-photo="@{'/uploads/hotel-' + ${hotel.id} + '/' + ${photo}}">
              <img th:src="@{'/uploads/hotel-' + ${hotel.id} + '/' + ${photo}}" alt="Hotel Photo"
                    />
            </div>
          </div>

          <!-- Стрелка влево -->
<!--          <div class="arrow left" th:data-hotel-id="${hotel.id}" th:data-total-photos="${hotel.photos.length}" onclick="showPrevPhoto(this)">&lt;</div>-->


          <!-- Стрелка влево -->
          <div class="arrow left"  th:data-hotel-id="${hotel.id}" th:data-total-photos="${hotel.photos.size()}" onclick="showPrevPhoto(this)">&lt;</div>
          <!-- Стрелка вправо -->
          <div class="arrow right" th:data-hotel-id="${hotel.id}" th:data-total-photos="${hotel.photos.size()}" onclick="showNextPhoto(this)">&gt;</div>
        </div>
      </td>

<!--      <div class="listHotels-comments" th:each="comment : ${hotel.comments}">-->
<!--        <div>-->
<!--          <p th:text="${comment.commentary}"></p>-->
<!--          <p th:text="${comment.evaluation}"></p>-->
<!--          &lt;!&ndash; Добавьте дополнительные поля комментария, если необходимо &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div   th:if="${not #lists.isEmpty(hotel.comments)}">-->
<!--        <p><span th:text="${#lists.size(hotel.comments)}"></span> отзывов</p>-->


<!--        <p th:if="${hotel.averageCommentEvaluation > 0.0}">-->
<!--          Средняя оценка <span th:text="${hotel.averageCommentEvaluation}"></span>-->
<!--        </p>-->
<!--        <p th:if="${hotel.averageCommentEvaluation <= 0.0}">-->
<!--          <span>Нет оценок.</span>-->
<!--        </p>-->

<!--      </div>-->
<!--      -->
<!--      -->



      <script th:inline="javascript">
    var name = /*[[${hotel.name}]]*/;
    console.log('Hello, ' + name + '!');
     var photos = /*[[${hotel.photos}]]*/;
     console.log(photos);
</script>


      <script th:inline="javascript">
    function showPrevPhoto(element) {
        var hotelId = element.getAttribute('data-hotel-id');
        var totalPhotos = element.getAttribute('data-total-photos');

        console.log('showPrevPhoto ');
        console.log(hotelId);
        console.log(totalPhotos);
        var currentPhotoIndex = 0;
        var photos = /*[[${hotel.photos}]]*/; // Получение фотографий отеля в JavaScript
        console.log(photos);
        currentPhotoIndex = (currentPhotoIndex - 1 + totalPhotos) % totalPhotos;
        console.log(totalPhotos);
        updatePhoto(photos, currentPhotoIndex, hotelId);
    }

    function showNextPhoto(element) {
        var hotelId = element.getAttribute('data-hotel-id');
        var totalPhotos = element.getAttribute('data-total-photos');

        console.log('showNextPhoto ');
        var currentPhotoIndex = 0;
        var photos = /*[[${hotel.photos}]]*/; // Получение фотографий отеля в JavaScript
        console.log(photos);
        console.log(totalPhotos);
        currentPhotoIndex = (currentPhotoIndex + 1) % totalPhotos;
        updatePhoto(photos, currentPhotoIndex, hotelId);
    }

    function updatePhoto(photos, currentPhotoIndex, hotelId) {
        console.log('updatePhoto ');
        var photoContainer = document.querySelector('.photo-container');
        console.log(photoContainer);
        var photoUrl = '/uploads/hotel-' + hotelId + '/' + photos[currentPhotoIndex];

        // Очищаем контейнер
        photoContainer.innerHTML = '';

        // Добавляем новую фотографию
        var img = document.createElement('img');
        img.src = photoUrl;
        photoContainer.appendChild(img);
    }
</script>
      <!-- ... -->
    </tr>

    </td>


     </tr>
    </tbody>
  </table>

  <a  th:href="@{'/hotels/new'}"  th:if="${roles.contains('ROLE_ADMIN')}" class="btn btn-success mt-3">Добавить новый отель</a>




</div>
<!-- Подключаем Bootstrap JS (необходим для работы модальных окон и других компонентов) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
// время в поиске
  // Get the input element by its ID





  // Получаем текущую дату
var today = new Date();

// Получаем компоненты даты (год, месяц, день)
var year = today.getFullYear();
var month = (today.getMonth() + 1).toString().padStart(2, '0'); // Месяцы в JavaScript нумеруются с 0, поэтому добавляем 1
var day = today.getDate().toString().padStart(2, '0');

// Форматируем дату в формат 'YYYY-MM-DD' (совместимый с input type="date")
var formattedDate = year + '-' + month + '-' + day;

// Устанавливаем значение в input
var dateInput = document.getElementById('arrivalDate');
dateInput.value = formattedDate;



var dateInput2 = document.getElementById('arrivalDate2');
var year = today.getFullYear();
var month = (today.getMonth() + 1).toString().padStart(2, '0'); // Месяцы в JavaScript нумеруются с 0, поэтому добавляем 1
var day = (today.getDate()+1).toString().padStart(2, '0');

// Форматируем дату в формат 'YYYY-MM-DD' (совместимый с input type="date")
var formattedDate = year + '-' + month + '-' + day;

dateInput2.value = formattedDate;


</script>





</body>
</html>
