<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список Туров</title>
  <link th:href="@{/public/style.css}" rel="stylesheet" />
  <link th:href="@{/public/footer.css}" rel="stylesheet" />


  <!-- Подключаем Bootstrap CSS -->
  <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
<div class="image-container">
  <!--  <img th:src="@{/public/images/main.jpeg}" alt="main Image"/>-->
  <img th:src="@{/public/images/main22.jpg}" alt="main Image"/>
  <div class="image-text">
    <p>Paradise</p>
  </div>
</div>

</body>
</html>
