<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обратная связь</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    
<div class="container mt-5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Обратная связь</h5>
            </div>
            <div class="modal-body">
                <!-- Форма обратной связи -->
                <form th:action="@{/send-email}" method="post">
                    <div class="form-group">
                        <label for="feedbackName">Ваше имя</label>
                        <input type="text" class="form-control" id="feedbackName" name="name" placeholder="Введите ваше имя">
                    </div>
                    <div class="form-group">
                        <label for="feedbackEmail">Ваш Email</label>
                        <input type="email" class="form-control" id="feedbackEmail" name="email" placeholder="Введите ваш Email">
                    </div>
                    <div class="form-group">
                        <label for="feedbackMessage">Сообщение</label>
                        <textarea class="form-control" id="feedbackMessage" name="message" rows="4" placeholder="Введите ваше сообщение"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <a href="/" class="btn btn-secondary">Назад</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Скрипты Bootstrap (если нужно) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
