<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>

   <!-- Подключаем Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Турфирма Paradise</a>
  <button onclick="window.location.href='/hotels/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Отели
  </button>

  <button onclick="window.location.href='/flights/list'" type="button" class="btn btn-link" data-dismiss="modal">
    Авибилеты
  </button>

  <button onclick="window.location.href='/'" type="button" class="btn btn-link" data-dismiss="modal">
    Туры
  </button>

  <button onclick="window.location.href='/bookings/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Реестр бронирования
  </button>

  <button onclick="window.location.href='/users/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Клиенты
  </button>

  <button onclick="window.location.href='/employees/list'" type="button" class="btn btn-link" data-dismiss="modal"
          th:if="${roles.contains('ROLE_ADMIN')}">
    Работники
  </button>









  <!-- Кнопка "Обратная связь" -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#feedbackModal">
    Обратная связь
  </button>

  <!-- Модальное окно "Обратная связь" -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Обратная связь</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Форма обратной связи -->
          <!-- Форма обратной связи -->
          <form th:action="@{/send-email}" method="post">
            <div class="form-group">
              <label for="feedbackName">Ваше имя</label>
              <input type="text" class="form-control" id="feedbackName" name="name" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
              <label for="feedbackEmail">Ваш Email</label>
              <input type="email" class="form-control" id="feedbackEmail" name="email" placeholder="Введите ваш Email">
            </div>
            <div class="form-group">
              <label for="feedbackMessage">Сообщение</label>
              <textarea class="form-control" id="feedbackMessage" name="message" rows="4" placeholder="Введите ваше сообщение"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#registrationModal" data-toggle="modal">Регистрация</a>
      </li>
      <!-- Logout button -->
      <li class="nav-item">
        <a class="nav-link" href="/logout">Вход</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- Навигационная панель Bootstrap -->
  <!-- Навигационная панель Bootstrap -->

  <!-- Список туров -->
  <!-- Список туров -->
  <div class="row mt-4">
    <div class="col-md-8">
      <h2>Список Туров</h2>
      <ul class="list-group">
        <!-- Loop through the list of tours -->
        <li th:each="tour : ${tours}" class="list-group-item">
          <!-- Display tour details -->
          <span th:text="${tour.name}"></span>
          <br>
          <!-- Display tour start date -->
          <span th:text="${#temporals.format(tour.startDate, 'dd.MM.yyyy')}"></span>
          <br>
          <!-- Display tour end date -->
          <span th:text="${#temporals.format(tour.endDate, 'dd.MM.yyyy')}"></span>

          <!-- View details button -->
          <a th:href="@{'/tours/details/' + ${tour.tourId}}" class="btn btn-info btn-sm float-right">Подробнее</a>



          <a th:href="@{'/tours/edit/' + ${tour.tourId}}"
             th:if="${roles.contains('ROLE_ADMIN')}"
             class="btn btn-primary btn-sm float-right ml-2">Редактировать</a>

          <a th:href="@{'/tours/delete/' + ${tour.tourId}}"
             th:if="${roles.contains('ROLE_ADMIN')}"
             class="btn btn-danger btn-sm float-right ml-2">Удалить</a>


        </li>

      </ul>
      <!-- Add new tour button -->
      <a th:href="@{'/tours/new'}"   th:if="${roles.contains('ROLE_ADMIN')}" class="btn btn-success mt-3">Добавить новый тур</a>
    </div>
  </div>

  <!-- Модальное окно редактирования тура -->
  <div class="modal fade" id="editTourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTourLabel">Редактирование тура</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Здесь можете разместить форму редактирования тура -->
          <!-- Пример: -->
          <form>
            <!-- Форма редактирования тура -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно удаления тура -->
  <div class="modal fade" id="deleteTourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTourLabel">Удаление тура</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Здесь можете разместить подтверждение удаления тура -->
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно регистрации -->
  <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Здесь можете разместить форму регистрации -->
          <!-- Пример: -->
          <form>
            <div class="form-group">
              <label for="username">Имя пользователя</label>
              <input type="text" class="form-control" id="username" placeholder="Введите имя пользователя">
            </div>
            <div class="form-group">
              <label for="password">Пароль</label>
              <input type="password" class="form-control" id="password" placeholder="Введите пароль">
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Подключаем Bootstrap JS (необходим для работы модальных окон и других компонентов) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
