<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список Туров</title>
  <link th:href="@{/public/style.css}" rel="stylesheet" />
  <link th:href="@{/public/footer.css}" rel="stylesheet" />
  <link th:href="@{/public/iframe.css}" rel="stylesheet" />

  <!-- Подключаем Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>



  </style>
</head>

<body>

  <div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
</div>

  <!--<div class="image-container">
   Переехали на banner.html Изображение 

  <div class="image-container">
 
  <img th:src="@{/public/images/main22.jpg}" alt="main Image"/>
  <div class="image-text">
    <p>Paradise</p>
  </div>
</div>

</div>-->

  <iframe id="banner-frame" th:src="@{/banner}" width="100%" scrolling="no"
    style="border: none; display: block;"></iframe>


  <iframe id="navbar-frame" th:src="@{/navbar}" width="100%" style="border: none; display: block;"></iframe>



  <div class="container">
    <h2 class="text-center mt-4">Популярные направления</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/maldives.jpg}" class="card-img" alt="Мальдивы">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Мальдивы</h5>
            <p class="card-text">Райские острова с белым песком и лазурной водой.</p>
            <a th:href="@{/tours/search(tour='Мальдивы')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/london.jpg}" class="card-img" alt="Мальдивы">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Лондон</h5>
            <p class="card-text">Исторические памятники и королевские традиции.</p>

            <a th:href="@{/tours/search(tour='Лондон')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/venice.jpg}" class="card-img" alt="Мальдивы">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Венеция</h5>
            <p class="card-text">Город на воде с уникальной архитектурой.</p>
          

            <a th:href="@{/tours/search(tour='Венеция')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/rio.jpg}" class="card-img" alt="Мальдивы">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Рио-де-Жанейро</h5>
            <p class="card-text">Карнавалы, пляжи и статуя Христа.</p>
            

            <a th:href="@{/tours/search(tour='Карнавалы')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/paris.jpg}" class="card-img" alt="Париж">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Париж</h5>
            <p class="card-text">Романтическое путешествие в город любви.</p>
           

            <a th:href="@{/tours/search(tour='Париж')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/thailand.jpg}" class="card-img" alt="Таиланд">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Таиланд</h5>
            <p class="card-text">Экзотическая природа, яркие пляжи и вкусная кухня.</p>
            
            <a th:href="@{/tours/search(tour='Таиланд')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/dubai.jpg}" class="card-img" alt="Таиланд">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Дубай</h5>
            <p class="card-text">Город небоскребов и роскошных курортов.</p>
            

            <a th:href="@{/tours/search(tour='Дубай')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/sydney.jpg}" class="card-img" alt="Таиланд">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Сидней</h5>
            <p class="card-text">Опера, пляжи и австралийский колорит.</p>
             

            <a th:href="@{/tours/search(tour='Сидней')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white position-relative">
          <img th:src="@{/public/images/barcelona.jpg}" class="card-img" alt="Таиланд">
          <div class="card-img-overlay d-flex flex-column justify-content-end bg-overlay">
            <h5 class="card-title">Барселона</h5>
            <p class="card-text">Гауди, пляжи и испанская атмосфера.</p>
             

            <a th:href="@{/tours/search(tour='Барселона')}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <style>
    .col-md-4 {
      padding: 5px;

    }

    .card {
      border: none;
      margin: 10;
      height: 200px;
      padding: 10;
    }

    .card-img-overlay {
      background: rgba(82, 81, 81, 0.5);
      /* Затемнение */
      color: white;
      padding: 20px;
    }

    .card-img {
      height: 100%;
      object-fit: cover;
    }

    .btn {
      background: rgba(255, 255, 255, 0.3);
      border: none;
    }

    .btn:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  </style>



  <!-- 
<div class="container">
  <h2 class="text-center mt-4">🔎 Найдите свой идеальный тур</h2>
  <form>
    <div class="row">
      <div class="col-md-4">
        <label>Направление</label>
        <input type="text" class="form-control" placeholder="Введите страну">
      </div>
      <div class="col-md-3">
        <label>Дата вылета</label>
        <input type="date" class="form-control">
      </div>
      <div class="col-md-3">
        <label>Количество дней</label>
        <select class="form-control">
          <option>3-5 дней</option>
          <option>7-10 дней</option>
          <option>Больше 10 дней</option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success mt-4">🔍 Искать</button>
      </div>
    </div>
  </form>
</div>


 -->




  <!--<footer>
   Переехали на footer.html  
  
</footer>-->
  <iframe id="footer-frame" th:src="@{/footer}" width="100%" style="border: none; display: block;"></iframe>

  <!-- Подключаем Bootstrap JS (необходим для работы модальных окон и других компонентов) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Подключаем скрипт -->
  <script src="/public/js/scripts.js"></script>

</body>

</html>