<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${flight.flightNumber} + ' Details'"></title>
</head>
<body>
<h2 th:text="${flight.flightNumber} + ' Details'"></h2>
<p>Flight Number: <span th:text="${flight.flightNumber}"></span></p>
<p>Departure: <span th:text="${flight.departure}"></span></p>
<p>Destination: <span th:text="${flight.destination}"></span></p>
<p>Departure DateTime: <span th:text="${flight.departureDateTime}"></span></p>
<a th:href="@{'/flights'}">Back to List</a>
</body>
</html>
