<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Добавление номера</title>
</head>
<body>
<h2>Добавление номера</h2>

<form th:action="@{'/rooms/add'}" th:object="${room}" method="post">
  <input type="hidden" th:field="*{hotel.id}"/>
  <label>Номер: <input type="text" th:field="*{roomNumber}"/></label><br/>
  <label>Цена: <input type="text" th:field="*{price}"/></label><br/>
  <label>Цена за питание: <input type="text" th:field="*{mealPrice}"/></label><br/>
  <label>Фотографии (разделенные запятой): <input type="text" th:field="*{photos}"/></label><br/>

  <input type="submit" value="Сохранить"/>
</form>

<a th:href="@{'/rooms/list'}">Отмена</a>
</body>
</html>
